# Tuples

* [Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) are an immutable collection of items.
* Most commonly contain a heterogeneous sequence of elements that are accessed via unpacking or indexing.
* Tuples, like lists, are one of many _sequence_ types in python.

## Creating Tuples

A tuple consists of a number of values separated by commas. They are typically wrapped in parentheses and while this is often necessary it isn't required.

In [13]:
t = (12345, 54321, 'hello!', )
t

(12345, 54321, 'hello!')

## Accessing Elements

Tuples, like other built-in [sequence](https://docs.python.org/3/glossary.html#term-sequence) types, can be indexed and sliced.

### Indexing

Individual elements in a Tuple can be accessed with 0-based indexing. As we saw with lists we can access elements using positive or negative indicies.

In [14]:
# Accessing elements in a tuple by index (0-index)
print(t[0]) # First element
print(t[-1]) # Last element

12345
hello!

### Slicing

As we saw with lists, we can also use the slicing syntax to extract new tuples. The syntax is the same as slicing any sequence `T[start:end:step]`

In [15]:
t[:2]

(12345, 54321)

### Tuples are Immutable

Tuples are immutable. We cannot change them. However if they contain mutable elements we can change those.

In [16]:
t = (1, ['a', 'b'])
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [17]:
t[1].append('c')
t

(1, ['a', 'b', 'c'])

A special problem is the construction of tuples containing 0 or 1 items.

We create an empty tuple with an empty pair of parentheses.

We create a tuple of a single item with a trailing comma.

In [20]:
empty = ()
print(empty)
print(len(empty))
print(type(empty))

single = 'hello', # for ('hello',)
print(single)
print(len(single))
print(type(single))

# Don't do this if you are trying to create a tuple
mytuple = ('hello')
print(type(mytuple))

()
0
<class 'tuple'>
('hello',)
1
<class 'tuple'>
<class 'str'>

The statement `point = 1, 0` is an example of _tuple packing_. The values on the RHS are packed together in a tuple.

The reverse operation is also possible. `x, y = point`.

In [21]:
# Tuples are commonly unpacked into variables
point = (1, 0)
x, y = point
print(x)
print(y)

1
0

This is called `sequence unpacking` and actually works for any sequence. Note that the number of items on the RHS must equal the number of variables on the LHS of the assignment statement.

In [8]:
my_list = ['a', 'b'] # Another sequence type
first, second = my_list
print(first)
print(second)

a
b

In [25]:
for t in enumerate('abc'):
    print(t)

(0, 'a')
(1, 'b')
(2, 'c')